body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(246, 241, 241);
  
    line-height: 1.5;
    font-size: 0.875rem;
  }
.heading{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}


.container {
    background: whitesmoke;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: rgb(249, 249, 249);
  
  }
  .container:hover {
    box-shadow: rgb(239, 236, 236);
  }
   .container img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .container button {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.25rem;
  }

  .container .btn-delete{
    display: block;
    width: 200px;
    margin: 1rem auto 0 auto;
    color:white;
    letter-spacing:2px;
    background: black;
    border: 1px solid gray;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
  }

   .container .price {
  color: red;
  background: ghostwhite;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

main {
    width: 90vw;
    max-width: 50%;
    margin: 5rem auto;
  }
  .tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .name{
      margin: 20px;
      font-size: 20px;
  }
  .info{
      margin: 20px;
  }
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .btn {
    background: black;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
    letter-spacing: 5px;
    border-color: transparent;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .load{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }